.signinCont{
  margin-top: 50px;
  margin-bottom: 50px;
}
.signinForm{
  margin-top: 40px;
}
.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  /* min-height: 400px;  */
}
.footer {
  background-color: #494949;
  margin: 0px auto;
  padding: 0px 0px;
  color: #FFF;
  background: transparent;
}
.footer > p {
  font-weight: bold;
  color: white;
}
.jumbotron {
  margin: 0px;
  border-radius: 0px;
  padding: 70px 30px;
  background-color: rgba(0,0,0,0.4);
  color: #FFFFFF; }
.containerCconange{
  margin-left: 10px;
}
.carousel-item > img {
  width: 100%;
}
address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 0px 0px 0px 0px;
  z-index: 0;
  background-color: #FFF;
}
li{
  color: black;
  list-style: none;
}
img {
  /*width: 100%;*/
}
.navbar-dark {
  background-color: #292929; }
.btn{
  color: #FFF;
  background-color: transparent;
  border: 1px solid transparent;
}
.fon{
  color: #CACACA;
}
.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}
.customText{
  color: #282828;
}
.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}
.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
      font-size: 3.5rem;
  }
}
.fonts{
  font-size: 20px;
}

.signin{
  width: 35%;
  max-height: 150;
  /*margin: auto;*/
  margin-top: 20px;
  background: transparent;
}
.buttonmr{
  padding-top: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.cardborder{
  border-radius: 0.9;
  border: 0;
  padding-left: 0;
  padding-right: 0;
}
.appMargins{
  margin: 20,20,20,20;
  padding: 20,20,20,20;
}
.formBackButton{
  background-color: black;
  color: white;
}
.formBack{
  background-color: #999999;
  background: transparent;
  border: 1px solid #999;
  border-color: #999;
  border-radius: 5px;
  margin: 10px auto;
  color: black;
}
.cardBack{
  background-color: rgba(0,0,0,0.4);
  color: #AAA;
}
#footer {
  color: white;
  height: 200px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  margin-top: 50px;
}
.CustomMadeFooter{
  position: fixed;
}
a{
	font-weight: bold;
}
a:link
{
  text-decoration-line: none;
  color: #00F;
  text-decoration: none!important;
}
a:visited
{
  text-decoration-line: none;
  color: #00F;
  text-decoration: none!important;
}
a:hover
{
  text-decoration-line: none;
  color: #FFF;
  text-decoration: underline;
}
a:active
{
  text-decoration-line: none;
  color: #FFF;
  text-decoration: underline;
}
.temp
{
	width: 65%;
}
.ImageBack
{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: auto;
}

.BottomOne{
	position: fixed;
	bottom: 0;
}
