.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  /* min-height: 400px;  */
}
.footer {
  background-color: #212121;
  margin: 0px auto;
  padding: 20px 0px;
  color: #AAA;
}
.jumbotron {
  margin: 0px;
  border-radius: 0px;
  padding: 70px 30px;
  background-color: #494949;
  color: #FFFFFF; }
.containerCconange{
  margin-left: 10px;
}
.carousel-item > img {
  width: 100%;
}
address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 0px 0px 0px 0px;
  z-index: 0;
  background-color: #FFF;
}
li{
  color: black;
  list-style: none;
}
img {
  width: 100%;
}
.navbar-dark {
  background-color: #292929; }
.btn{
  color: #212529;
  background-color: transparent;
  border: 1px solid transparent;
}
.fon{
  color: #0f0f0f;
}
.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}
.customText{
  color: #282828;
}
.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}
.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
      font-size: 3.5rem;
  }
}
.fonts{
  font-size: 20px;
}

.signin{
  width: 35%;
  max-height: 150;
  margin: auto;
  margin-top: 20px;
}
.buttonmr{
  padding-top: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.cardborder{
  border-radius: 0.9;
  border: 0;
  padding-left: 0;
  padding-right: 0;
}
.appMargins{
  margin: 20,20,20,20;
  padding: 20,20,20,20;
}
.formBackButton{
  background-color: black;
  color: white;
}
.formBack{
  background-color: #F8F8F8;
  color: black;
}
.cardBack{
  background-color: #282828;
  color: #AAA;
}
#footer {
  color: white;
  height: 200px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  margin-top: 50px;
}
.CustomMadeFooter{
  position: fixed;
}